/* STYLE RESPONSIVE */

@media screen and (max-width: 750px) {
  /* Responsive INFO */

  .jumbotron__title {
    font-size: 4em;
    text-align: center;
  }

  .jumbotron__subtitle {
    font-size: 3em;
  }

  .jumbotron__text {
    font-size: 2.5em;
  }

  .main-box__program {
    width: 90%;
    font-size: 2.2em;
  }

  .main-box__services {
    font-size: 1.6em;
  }

  .main-box__eslogan {
    font-size: 1.6em;
  }
}
