@use "sass:color";
$link-color:rgb(238, 224, 29);
$color-form-contact: orange;
$background-color-sagrarock-grid: lightseagreen;
$color-text-sagrarock-grid: rgb(179, 21, 21);
$font-family-googlefonts-pangolin: 'Pangolin', cursive, sans-serif;
$font-family-googlefonts-Sheppards: 'Mrs Sheppards', cursive;
$font-family-googlefonts-Marker: 'Permanent Marker', cursive;
$background-color-description: rgb(233, 220, 220);
